documentation/NodeRedFlow.txt
[{"id":"1c86a7f9846c9c30","type":"tab","label":"D-CT_module(test)","disabled":false,"info":"","env":[]},{"id":"f0731de3c232c7a9","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"DeviceRst\":\"YES\"}","payloadType":"str","x":130,"y":720,"wires":[["9a779444a1308b2f"]]},{"id":"ad4fdd60b6e6bfec","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"MQTT_TOPIC\":\"?\"}","payloadType":"str","x":140,"y":560,"wires":[["9a779444a1308b2f"]]},{"id":"9a779444a1308b2f","type":"mqtt out","z":"1c86a7f9846c9c30","name":"default/debug/topic","topic":"Vectra082b14/extensity","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bb94b28.a7c075","x":450,"y":640,"wires":[]},{"id":"ec86b3d842aae00b","type":"mqtt in","z":"1c86a7f9846c9c30","name":"default/debug/topic","topic":"Vectra082b14/extensity/res","qos":"2","datatype":"auto","broker":"bb94b28.a7c075","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":280,"wires":[["4052726f2b948208"]]},{"id":"445244957553f19c","type":"inject","z":"1c86a7f9846c9c30","name":"SetcompanyName","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CompanyNm\" : \"atlasautos\"}","payloadType":"str","x":130,"y":600,"wires":[["9a779444a1308b2f"]]},{"id":"c120c20bfe180d27","type":"inject","z":"1c86a7f9846c9c30","name":"SetDepartName","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"DepartNm\" : \"xx\" }","payloadType":"str","x":120,"y":640,"wires":[["9a779444a1308b2f"]]},{"id":"3892355cf7d21de0","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"DeviceNo\" : \"01\"  }","payloadType":"str","x":130,"y":680,"wires":[["9a779444a1308b2f"]]},{"id":"861f6514282ebd9f","type":"mqtt in","z":"1c86a7f9846c9c30","name":"","topic":"atlasautos/xx/cm/01/out","qos":"2","datatype":"auto","broker":"bb94b28.a7c075","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":220,"wires":[["4052726f2b948208"]]},{"id":"4052726f2b948208","type":"json","z":"1c86a7f9846c9c30","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":160,"wires":[["3ede553c02b4457b"]]},{"id":"a9794a791dfd883b","type":"mqtt out","z":"1c86a7f9846c9c30","name":"","topic":"atlasautos/xx/cm/01","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bb94b28.a7c075","x":340,"y":80,"wires":[]},{"id":"ae45c050082d735e","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"DEVICE_IP\":\"?\"}","payloadType":"str","x":130,"y":240,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"1722bcc4db4862db","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"UNIX_TIME\":\"?\"}","payloadType":"str","x":130,"y":280,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"4473835a44a8e21f","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Alert_tm\":\"?\"}","payloadType":"str","x":120,"y":320,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"57430e05121b5824","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Delta_Curr\":\"?\"}","payloadType":"str","x":120,"y":360,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"166f4bdfd6c1ba19","type":"comment","z":"1c86a7f9846c9c30","name":"Query_command","info":"","x":110,"y":200,"wires":[]},{"id":"a0e076646514f661","type":"comment","z":"1c86a7f9846c9c30","name":"set_command","info":"","x":350,"y":240,"wires":[]},{"id":"76e35e8af3d4bda8","type":"inject","z":"1c86a7f9846c9c30","name":"delta curernt is in mA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Delta_Curr\":200}","payloadType":"str","x":400,"y":360,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"c56043e161fb319d","type":"inject","z":"1c86a7f9846c9c30","name":"delta time is in milliSecond","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Delta_tm\":100}","payloadType":"str","x":410,"y":400,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"6029910802ecf6b3","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Delta_tm\":\"?\"}","payloadType":"str","x":120,"y":400,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"3ede553c02b4457b","type":"debug","z":"1c86a7f9846c9c30","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":160,"wires":[]},{"id":"61b6974df2c2ee9c","type":"mqtt in","z":"1c86a7f9846c9c30","name":"","topic":"atlasautos/xx/cm/01/res","qos":"2","datatype":"auto","broker":"bb94b28.a7c075","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":160,"wires":[["4052726f2b948208"]]},{"id":"4393c90d58a411ad","type":"comment","z":"1c86a7f9846c9c30","name":"setting UNIX_TIME","info":"","x":330,"y":500,"wires":[]},{"id":"305168ececb489f1","type":"comment","z":"1c86a7f9846c9c30","name":"Query_command","info":"","x":110,"y":200,"wires":[]},{"id":"00d433d1ef6ce956","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":540,"wires":[["bfbbeda199f2d630"]]},{"id":"a64399778e923b78","type":"mqtt out","z":"1c86a7f9846c9c30","name":"","topic":"atlasautos/xx/cm/1","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bb94b28.a7c075","x":330,"y":40,"wires":[]},{"id":"80278696dd270c4e","type":"inject","z":"1c86a7f9846c9c30","name":"alert time is in second","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Alert_tm\":1}","payloadType":"str","x":400,"y":320,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"cf4732955d4747a3","type":"inject","z":"1c86a7f9846c9c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CT_Ratio\":\"?\"}","payloadType":"str","x":120,"y":440,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"b0789b48d211b6d2","type":"inject","z":"1c86a7f9846c9c30","name":"Current Raio(1,2,3,4,5,..)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CT_Ratio\":1}","payloadType":"str","x":410,"y":440,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"b3ea2b96b5977038","type":"inject","z":"1c86a7f9846c9c30","name":"alert off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Alert_tm\":0}","payloadType":"str","x":350,"y":280,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"bfbbeda199f2d630","type":"function","z":"1c86a7f9846c9c30","name":"","func":"\nmsg.payload = msg.payload/1000 //divide by 1000 to reduce to 32bit small number\nmsg.payload = parseInt(msg.payload)\n\nvar newstring = \"{\\\"UNIX_TIME\\\":\"\nnewstring += msg.payload + 2 //add 2 seconds to sync time\nnewstring += \"}\"\n\n msg.payload = newstring\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":540,"wires":[["a9794a791dfd883b","a64399778e923b78"]]},{"id":"34382f833ab59b98","type":"mqtt in","z":"1c86a7f9846c9c30","name":"","topic":"atlasautos/xx/cm/01/birth","qos":"2","datatype":"auto","broker":"bb94b28.a7c075","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":100,"wires":[["4052726f2b948208"]]},{"id":"bb94b28.a7c075","type":"mqtt-broker","name":"","broker":"192.168.120.164","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]